
main {
    margin-top: 1.5rem;
}
.dash {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.analyse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .analyse > div {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--border-radius-2);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

main .analyse > div:hover {
    box-shadow: none;
}

main .analyse > div .status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.analyse h3 {
    margin-left: 0.6rem;
    font-size: 1rem;
}

.progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.analyse svg {
    width: 7rem;
    height: 7rem;

}

.analyse svg circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}
.info h1{
    margin-left: 10px;
}

.percentage {
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.sales svg circle{
    stroke: var(--color-success);
}

.visits svg circle {
    stroke: var(--color-danger);
    stroke-dashoffset: -30;
    stroke-dasharray: 140;
}

.searches svg circle {
    stroke: var(--color-primary);
    stroke-dashoffset: 60;
    stroke-dasharray: 100;
}

/* new users */

.new-users{
    margin-top: 1.3rem;
}


.list-users {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--border-radius-2);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.list-users:hover {
    box-shadow: none;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* orden recentes */

.recents-orders {
    margin-top: 1.3rem;
}

.recents-orders h2{
    margin-bottom: 0.8rem;
}

.recents-orders table {
    background-color: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-2);
    transition: all 0.3s ease;
}

.recents-orders table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.4rem;
    border: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
    border: none;
}

.recents-orders a {
    text-align: center;
    display: block;
    color: var(--color-primary);
    margin: 1rem auto;
}
