
.right-section {
    margin-top: 1.3rem;
}

.nav {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

 .nav button {
    display: none;
}

.dark-mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-light);
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.dark-mode span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-mode span.active {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-1);
}

.profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

.profile-photo img{
    width: 2.8rem;
    height: 2.8rem;
    overflow: hidden;
    border-radius: 50%;
}

.user-profile {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.user-profile:hover {
    box-shadow: none;
}

.user-profile img {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    margin-bottom: 0.8rem;
}

.remaiders {
    margin-top: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
}

.header span {
    padding: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    border-radius: 25%;
}


.notications {
    background-color: var(--color-white);
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.notications:hover {
    box-shadow: none;
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}

.icon {
    padding: 0.6rem;
    color: var(--color-white);
    background-color: var(--color-success);
    border-radius: 20%;
    display: flex;
}

.add-reminder {
    border:  1px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-reminder:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}
